:root {
  --black: #333333;
  --gray: #b1b1b1;
}

html {
  display: table;
  margin: auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 600px;

  font-family: Consolas, monaco, monospace;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;


}

div.main {
  display: flex;
  flex-direction: column;

  width: calc(min(100%, 900px));
  flex-grow: 1;
  min-height: 100vh;

  margin: 0 auto;
}

div.header {
  display: grid;
  width: 100%;
  margin: 2rem 0;
}

.main > .header:first-child {
  position: sticky;
  top: 0;
  background: #ffffff;
}

a {
  color: var(--gray);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:visited {
  color: var(--gray);
  border-bottom: 1px solid transparent;
}

a:hover {
  color: var(--black);
  border-bottom: 1px dashed var(--gray);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 1rem;
}

h1, h2, h3, .header {
  color: var(--black);
}

small {
  color: var(--gray);
}